# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

# su daemon
service su_daemon /system/xbin/su --daemon
    user root
    group root
    disabled
    seclabel u:r:sudaemon:s0

service retros_setup /system/bin/retros_launch.sh
    user root
    group root
    oneshot
    

service sshd /system/bin/retros_sshd.sh
   class late_start
   user root
   group root
   oneshot

service retros_userspace /system/bin/retros_userspace.sh
   user root
   group root
   setenv LD_LIBRARY_PATH /data/data/com.termux/files/usr/lib
   setenv PATH /usr/local/bin:/data/data/com.termux/files/usr/bin:/data/data/com.termux/files/usr/sbin:/data/data/com.termux/files/usr/bin/applets:/bin:/sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
   setenv HOME /data/data/com.termux/files/home
   oneshot
   disabled



on boot
    start su_daemon

on property:sys.boot_completed=1
    start sshd
    start retros_launch
    start retros_userspace
