# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on property:sys.boot_completed=1
    mkdir /data/testing1
    mkdir /data/data/com.termux/files
    tar xvf /system/etc/retros/userspace.tar.gz -C /data/data/com.termux/files 
    ln -s /data/data/com.termux/files/usr /usr